<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{with .PageTitle}}{{.}}{{else}}Contacts App{{end}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>

    <!-- Auto Reload Stuff -->
    <script>
        let version = "{{AppVersion}}";
        function setupReload() {
            let s = new WebSocket("ws://localhost:8080/dev/ws/reload");
            s.onopen = () => {
                console.log("autoreload: server back up");
            };
            s.onmessage = (m) => {
                if (m.data != version) {
                    console.log("autoreload: wrong version");
                    location.reload();
                } else {
                    console.log("autoreload: correct version");
                }
            };
            s.onclose = (e) => {
                setTimeout(setupReload, 200);
            };
        }
        setupReload();
    </script>
</head>

<body hx-boost="true" class="flex flex-col">
    <div class="flex flex-col">
        <header class="flex bg-blue-500">
            <a href="/contacts" class="py-2 px-4 text-xl font-extrabold text-white">
                Contact Manager
            </a>
        </header>
        <div class="flex flex-col">{{block "content" .}}{{end}}</div>
    </div>
</body>

</html>
